@import "/imports/ui/stylesheets/variables/breakpoints";
@import "/imports/ui/components/user-list/styles.scss";

.listItem {
  @extend %list-item;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: var(--lg-padding-y);
  padding-bottom: var(--lg-padding-y);
  padding-left: var(--lg-padding-y);
  text-decoration: none;
  width: 100%;
  color: var(--color-gray-dark);
  background-color: var(--color-off-white);

  [dir="rtl"]  & {
    padding-right: var(--lg-padding-y);
    padding-left: 0;
  }

  > i {
    display: flex;
    font-size: 175%;
    color: var(--color-gray-light);
    flex: 0 0 2.2rem;
    margin-right: var(--sm-padding-x);
    [dir="rtl"]  & {
      margin-right: 0;
      margin-left: var(--sm-padding-x);
    }
  }

  > span {
    font-weight: 400;
    font-size: var(--font-size-small);
    color: var(--color-gray-dark);
    position: relative;
    flex-grow: 1;
    line-height: 2;
    text-align: left;
    padding-left: var(--lg-padding-y);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    [dir="rtl"] & {
      text-align: right;
      padding-right: var(--md-padding-x);
    }
  }

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:active {
    background-color: var(--list-item-bg-hover);
    box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
  }
}

.noteTitle {
  font-weight: 400;
  font-size: var(--font-size-small);
}

:root {
  --user-manage-menu-top : -0.5rem;
  --user-manage-menu-right : -0.75rem;
  --user-manage-menu-width : 12rem;
}

.dropdown {
  position: absolute;
  right: auto;
  left: 0;

  [dir="rtl"] & {
    left: auto;
    right: 0;
  }
}

.dropdownContent {
  top: var(--user-manage-menu-top);
  right: var(--user-manage-menu-right);
  left: auto;
  width: var(--user-manage-menu-width);

  [dir="rtl"] & {
    top: var(--user-manage-menu-top);
    right: -1rem;
  }

  @include mq($small-only) {
    width: 100vw;
  }
}

.optionsButton{
  border-radius: 50%;
  display: block;
  padding: 10px;
  margin: 10px;

  i {
    width: auto;
    font-size: var(--font-size-base) !important;
    color: var(--color-gray-dark) !important;
    background-color: transparent !important;
  }

  &:hover,
  &:focus {
    background-color: var(--color-off-white) !important;
  }
}

